$bgcolor: #191919;
$position: abosolute;
$font-base: 16px;
$border: solid;
$bsignin: solid;





@mixin f {
  margin-left: 1050px;
   margin-top: 80px;
  margin-right: 1050px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  font-size: $font-base;
  background-color:$bgcolor;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 20%; 
  border: 2px solid $bgcolor ;
  border-style: $border;
  border-radius: 10px;
  height: 530px;
 
}

@mixin button {
  background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    padding: 18px 110px;
     margin: 4px 2px;
    
}

@mixin button1 {
  background-color: #191919;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

@mixin in {
    border: none;
    color: white;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

body {
  color: white;
}

form {
  @include f;
}



button{
  @include button;
}

a{
  @include button1;
}

input {
  @include in;
}


