/*
Theme Name: Paradise Resort
Author: Baluyut, Justin Jade  | Cruz, Paulo Ryan | Tongol, John Fredimar
Description: Welcome to new Paradise Resort Weblog. This site is intented to be a place where you can relax and enjoy, you can come to find information and news about the resort, and can share their experiences at the resort with others. We hope you'll visit often-both the Blog and the Resort!
Tags: Paradise Resort | For Guests, Friends, and Family Bonding.
Version: 1.0
*/

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #82a5dd;
}

a:link,
a:visited {
	color:	#000000;
	text-decoration: none;
} 

p {
	line-height: 1.65em;
}

/* General Layout */
div.container {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

article-post {
	border-bottom: 2px dotted #bbbbbb;

}

article.post:last-of-type {
	border-bottom: none;
}

/* Header */
	.site-header {
		border-bottom: 2px solid #999;
	}

/* Footer */
.site-footer {
	margin-top: 30px;
	border-top: 2px solid #999;

}

/* Header */
.site-header {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	padding: 30px 0 0 0;


}

.site-header h1 {
	margin: 0;

}

.site-header h1 a:link,
.site-header h1 a:visited {
	text-decoration: none;
	color: #ffffff;
}

.site-header h5 {
	margin: 0;
}

/* Standard Nav Menu */
.site-nav {
	margin-bottom: 2em;

}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav:after { content: ""; display: table; }
.site-nav ul:after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
	list-style:none;
	float: left;
}

.site-nav ul li a:link,
.site-nav ul li a:visited{
	text-decoration: none;
	padding-right: 1em;
	background-color: 	#A9A9A9;
}
	.footer-nav ul li a:link,
	.footer-nav ul li a:visited{
	text-decoration: none;
	padding-right: 1em;
	background-color: 	#A9A9A9;
}

.site-nav ul li a:hover {
		color: blue;
}

/* Content Area */
article.post {
	border-bottom: 1px dotted #DDD;
	margin-bottom: 20px;
}	

	/* Header Nav Menu */
	.site-header nav {
		margin-top: 30px;
	}

	.site-header nav ul li {
		margin-right: 5px;
	}

	.site-header nav ul li a:link,
	.site-header nav ul li a:visited {
		padding: 10px 17px;
		text-decoration: none;
		border: none;
		border-bottom: none;
	}

	.site-header nav ul li a:hover {
		background-color: #ECECEC;
	}

	.site-header nav ul li.current-menu-item a:link,
	.site-header nav ul li.current-menu-item a:visited {
		font-weight: bold;
		background-color: #006ec3;
		color: #FFF;
	}
	

/* Footer */
.site-footer {
	margin-top: 30px;
	border-top: 1px solid #DDD;
	font-size: 84%;
}

/* Footer Nav Menu */
.site-footer nav {
	margin: 30px 0 10px 0;
}

.site-footer nav ul li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #DDD;
}

.site-footer nav ul li:last-of-type {
	border-right: none;
}

/* Page Layout */
article.page h2 {
	font-size: 225%;
	margin-bottom: 15px;
}

/* Two Column Title Layout */
div.title-column {
	width: 30%;
	float: left;
}

div.text-column {
	width: 70%;
	float: right;
}

/* Info Box Styles */
div.info-box {
	width: 30%;
	float: right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #ffffff;
	opacity: .8;
}

	div.info-box h4 {
		margin-bottom: 6px;
		color: black;
	}

	div.info-box p {
		font-size: 85%;
		color: black;

	}

/* Page Layout */
article.page h2 {
	font-size: 225%;
	margin-bottom: 15px;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
}